/* *{
    margin: 0;
    padding: 0;
}
.header-top-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.main-logo,
.main-logo a{
    color: white;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
}
.header-button{
    display: flex;
    gap: 10px;
}
.header-button button{
    background-color: white;
    border: none;
    padding: 10px ;
} */

