.banner-bg{
    background-color: #59B571;
}
.header-text{
    align-items: center;
    display: flex;
    padding: 10px 0 70px;
}
.header-content{
    color :white
}
.header-content h1{
    font-size: 52px;
    margin-bottom: 10px;
}
.header-content p{
    font-size: 22px;
}